[project]
	description = gstreamer airplay src element
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dabrain34
[access "refs/for/refs/*"]
	read = group user/dabrain34
	push = group user/dabrain34
	label-Code-Review = -2..+2 group user/dabrain34
	label-Verified = -1..+1 group user/dabrain34
	rebase = group user/dabrain34
	removeReviewer = group user/dabrain34
	submit = group user/dabrain34
[access "refs/heads/*"]
	read = group user/dabrain34
	create = group user/dabrain34
	push = +force group user/dabrain34
	pushMerge = group user/dabrain34
[access "refs/tags/*"]
	push = group user/dabrain34
	push = +force group user/dabrain34
